:root {
    --eerie-black: #222222ff;
    --star-command-blue: #337ab7ff;
    --onyx: #343742ff;
    --independence: #474b5aff;
    --dim-gray: #676a73ff;
    --sonic-silver: #777777ff;
    --gainsboro: #d4dae3ff;
    --platinum: #e5e5e5ff;
    --cultured: #f8f8faff;
    --safety-orange-blaze-orange: #ff6600ff;

    --gradient-top: linear-gradient(0deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-right: linear-gradient(90deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-bottom: linear-gradient(180deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-left: linear-gradient(270deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-top-right: linear-gradient(45deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-bottom-right: linear-gradient(135deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-top-left: linear-gradient(225deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-bottom-left: linear-gradient(315deg, #222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
    --gradient-radial: radial-gradient(#222222ff, #337ab7ff, #343742ff, #474b5aff, #676a73ff, #777777ff, #d4dae3ff, #e5e5e5ff, #f8f8faff, #ff6600ff);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* EXTRA START */
.bg-slider {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--onyx);
    opacity: .7;
    height: 100%;
    width: 100%;
}

.border-independence {
    border-color: var(--independence) !important;
}

.bg-onyx {
    background-color: var(--onyx) !important;
}

.bg-independence {
    background-color: var(--independence) !important;
}

.bg-gainsboro {
    background-color: var(--gainsboro) !important;
}

.bg-platinum {
    background-color: var(--platinum) !important;
}

.bg-cultured {
    background-color: var(--cultured) !important;
}

.btn-stroem {
    background-color: var(--safety-orange-blaze-orange);
    border-color: var(--safety-orange-blaze-orange);
    color: #fff;
}

.btn-stroem:hover {
    background-color: transparent;
    border-color: var(--safety-orange-blaze-orange);
    color: var(--safety-orange-blaze-orange);
}

.text-stroem {
    color: var(--safety-orange-blaze-orange);
}

.fw-semi-bold {
    font-weight: 500;
}

.list-group-item-stroem.collapsed {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-width: 1px !important;
}

.list-group-item-stroem:not(.collapsed),
.list-group-item-stroem:hover {
    color: #fff;
    background-color: var(--safety-orange-blaze-orange);
    border: 1px solid var(--safety-orange-blaze-orange);
}

.accordion-button-item-stroem {
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
    background-color: transparent;
}

.accordion-button-item-stroem:not(.collapsed) {
    background-color: var(--safety-orange-blaze-orange);
    color: #fff;
}

.accordion-button-item-stroem:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.379);
}
/* EXTRA END */

/* HEADER START */
.stroem-header {
    height: 115px;
}

.navbar-first .navbar-nav {
    flex-direction: row;
}

.navbar-first .nav-item span {
    color: #fff;
}

.header-fixed .navbar-second {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
    background-color: var(--cultured);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.04);
}

.navbar-second {
    position: absolute;
    top: auto;
    z-index: 500;
    width: 100%;
    transition: all .3s;
}

.navbar-second .second-container {
    background: #fff;
    box-shadow: 1px 1px 10px 1px var(--platinum);
    padding: 0.75rem;
}

.navbar-second .navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-second .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--eerie-black);
    transition: color .3s;
}

.navbar-second .navbar-nav .nav-item .nav-link:hover,
.navbar-second .navbar-nav .nav-item .nav-link.active {
    color: var(--safety-orange-blaze-orange);
    transition: color .3s;
}
/* HEADER END */

/* BODY START */
.stroem-breadcrumb {
    padding: 5rem 0;
    background-color: var(--cultured);
}

.stroem-breadcrumb .breadcrumb-item {
    text-decoration: none;
    color: var(--safety-orange-blaze-orange);
}

.stroem-breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: var(--sonic-silver);
}

.about-section {
    padding: 4rem 0 8rem 0;
}

.help-section {
    padding: 3rem 0 4rem 0;
}

.service-section {
    padding: 5rem 0 0 0;
}

.book-section {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.083);
}

.faq-page .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.faq-page .accordion-item:not(:first-of-type) {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.news-section, .service-page, .faq-page, .team-section, .about-page, .news-page, .contact-page, .admin-page {
    padding: 5rem 0;
}

.news-sidebar .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

.news-sidebar .list-group-item img {
    object-fit: cover;
    border-radius: 5px;
}

.news-sidebar .list-group-item:first-of-type {
    border-top-width: 0;
}

.news-sidebar .list-group-item:last-of-type {
    border-bottom-width: 0;
}

.about-page .about-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-page .about-list ul li::before {
    content: "";
    height: 11px;
    width: 11px;
    border: 2px solid var(--independence);
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
}

.slider-section .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.slider-section .carousel-caption h2 {
    font-size: 4rem;
}

.stroem-preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
}

.stroem-preloader .stroem-preloader-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 275px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.flaticon-services::before {
    font-size: 2.5rem;
}

.testimonial-info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    padding: 5rem 0;
}

.testimonial-container {
    margin-top: -220px;
}

.testimonial-card {
    margin-top: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.testimonial-card .card-body {
    min-height: 245px;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
    border-radius: 150%;
    border: 4px solid #fff;
    background-color: #fff;
}

.tns-controls, .tns-nav, .tns-liveregion, .tns-outer button {
    display: none;
}

.line-mark {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.line-mark span:nth-child(1),
.line-mark span:nth-child(3) {
    width: 50px;
    height: 1px;
    background: var(--platinum);
}

.line-mark span:nth-child(2) {
    border: 2px solid var(--safety-orange-blaze-orange);
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin: 0 1px;
}

.team-card {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 7px;
}

/* BACK START */
.team-he-b {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.team-he-b span:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 160px;
    border-left: 170px solid var(--cultured);
    border-top: 10px solid transparent;
    transition: all .5s;
}

.team-he-b span:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 210px;
    border-right: 188px solid var(--cultured);
    border-top: 60px solid transparent;
    transition: all .5s;
}

.team-card:hover .team-he-b span:nth-child(1),
.team-card:hover .team-he-b span:nth-child(2) {
    bottom: -300px;
    transition: all .5s;
}
/* BACK END */

/* FRONT START */
.team-he-f {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: rotateY(180deg);
}

.team-he-f span:nth-child(1) {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    top: auto;
    height: 160px;
    border-left: 170px solid var(--safety-orange-blaze-orange);
    border-top: 10px solid transparent;
    transition: all .5s;
}

.team-he-f span:nth-child(2) {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    top: auto;
    height: 210px;
    border-right: 188px solid var(--safety-orange-blaze-orange);
    border-top: 60px solid transparent;
    transition: all .5s;
}

.team-card .team-he-f div {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    top: auto;
    height: 150px;
    margin-bottom: 0;
    transition: all .5s;
    transform: rotateY(180deg);
    text-align: center;
    padding: 1rem;
}

.team-card .team-he-f div h6 {
    font-size: 1.5rem;
    color: #fff;
}

.team-card .team-he-f div p {
    font-size: 1.2rem;
    color: #fff;
}

.team-card:hover .team-he-f span:nth-child(1),
.team-card:hover .team-he-f span:nth-child(2),
.team-card:hover .team-he-f div {
    bottom: 0;
    transition: all .5s;
}
/* FRONT END */

.news-card .card-img-top {
    object-fit: cover;
}

.bookmark {
    position: absolute;
    left: 20px;
    top: 20px;
}

.bookmark span:nth-child(1) {
    position: absolute;
    left: 0;
    height: 60px;
    width: 10px;
    border-top-left-radius: 5px;
    display: block;
    border-left: 30px solid var(--safety-orange-blaze-orange);
    border-bottom: 10px solid transparent;
}

.bookmark span:nth-child(2) {
    position: absolute;
    left: 18px;
    height: 60px;
    width: 10px;
    border-top-right-radius: 5px;
    display: block;
    border-right: 30px solid var(--safety-orange-blaze-orange);
    border-bottom: 10px solid transparent;
}

.bookmark span:nth-child(3) {
    position: absolute;
    left: 0;
    font-size: 1.3rem;
    width: 48px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.bookmark span:nth-child(4) {
    position: absolute;
    left: 0;
    top: 22px;
    width: 48px;
    text-align: center;
    color: #fff;
}

.mapouter, .gmap_canvas {
    width: 100% !important;
}
/* BODY END */

/* FOOTER START */
.stroem-footer {}

.stroem-footer .footer-content .footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stroem-footer .footer-content .footer-list ul li,
.stroem-footer .footer-content .footer-list ul li a,
.stroem-footer .footer-content .footer-list p {
    color: var(--platinum);
    text-decoration: none;
    transition: all .3s;
}

.stroem-footer .footer-content .footer-list ul li a:hover {
    color: var(--safety-orange-blaze-orange);
    transition: all .3s;
}

.stroem-footer .footer-content .footer-list h5 {
    color: #fff;
}

.go-to-top {
    position: fixed;
    bottom: -100px;
    right: 20px;
    visibility: hidden;
    transition: all .3s;
}

.go-to-top.show {
    visibility: visible;
    bottom: 20px;
    transition: all .3s;
}
/* FOOTER END */

/* MEDIA START */
@media screen and (max-width: 922px) {
    .navbar-first .navbar-nav {
        flex-direction: column;
    }
    .navbar-second .second-container {
        flex-direction: column;
    }
}
/* MEDIA END */